# Regression Trees and Model Optimization - Lab

## Introduction

In this final lab, we'll see how to apply regression analysis using CART trees for regression while making use of some hyperparameter tuning to improve our model. For a comparison of predictive capabilities and computational cost, we'll work the "Boston Housing" dataset. This will allow us to compare different regression approaches in terms of their accuracy and cost involved.

## Objectives
You will be able to:
- Apply predictive regression analysis with CART trees
- Get the data ready for modeling
- Tune the key hyper parameters based a various models developed during training 
- Study the impact of tree pruning on the quality of predictions

## Boston Housing Dataset - Again ! 

The dataset is available in the repo as `boston.csv`. 

- Load the Dataset and print its head and dimensions

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
# Your code here 
df = pd.read_csv('boston.csv')
print(df.shape)
df.head()

(506, 15)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

## Identify Features and Target Data
In this lab, we shall use three features from the Boston housing dataset: `'RM'`, `'LSTAT'`, and `'PTRATIO'`. You'll find a brief description of each predictor below:

#### Features
- `'RM'` is the average number of rooms among homes in the neighborhood.
- `'LSTAT'` is the percentage of homeowners in the neighborhood considered "lower class" (working poor).
- `'PTRATIO'` is the ratio of students to teachers in primary and secondary schools in the neighborhood.

#### Target
- `MEDV`',the median value of the home.


- Create dataframes for features and target as shown above. 
- Inspect the contents for validity

In [6]:
# Your code here 
predictors = df[['rm', 'lstat', 'ptratio']]
target = df['medv']

In [7]:
predictors

        rm  lstat  ptratio
0    6.575   4.98     15.3
1    6.421   9.14     17.8
2    7.185   4.03     17.8
3    6.998   2.94     18.7
4    7.147   5.33     18.7
5    6.430   5.21     18.7
6    6.012  12.43     15.2
7    6.172  19.15     15.2
8    5.631  29.93     15.2
9    6.004  17.10     15.2
10   6.377  20.45     15.2
11   6.009  13.27     15.2
12   5.889  15.71     15.2
13   5.949   8.26     21.0
14   6.096  10.26     21.0
15   5.834   8.47     21.0
16   5.935   6.58     21.0
17   5.990  14.67     21.0
18   5.456  11.69     21.0
19   5.727  11.28     21.0
20   5.570  21.02     21.0
21   5.965  13.83     21.0
22   6.142  18.72     21.0
23   5.813  19.88     21.0
24   5.924  16.30     21.0
25   5.599  16.51     21.0
26   5.813  14.81     21.0
27   6.047  17.28     21.0
28   6.495  12.80     21.0
29   6.674  11.98     21.0
..     ...    ...      ...
476  6.484  18.68     20.2
477  5.304  24.91     20.2
478  6.185  18.03     20.2
479  6.229  13.11     20.2
480  6.242  10.74     20.2
481  6.750   7.74     20.2
482  7.061   7.01     20.2
483  5.762  10.42     20.2
484  5.871  13.34     20.2
485  6.312  10.58     20.2
486  6.114  14.98     20.2
487  5.905  11.45     20.2
488  5.454  18.06     20.1
489  5.414  23.97     20.1
490  5.093  29.68     20.1
491  5.983  18.07     20.1
492  5.983  13.35     20.1
493  5.707  12.01     19.2
494  5.926  13.59     19.2
495  5.670  17.60     19.2
496  5.390  21.14     19.2
497  5.794  14.10     19.2
498  6.019  12.92     19.2
499  5.569  15.10     19.2
500  6.027  14.33     19.2
501  6.593   9.67     21.0
502  6.120   9.08     21.0
503  6.976   5.64     21.0
504  6.794   6.48     21.0
505  6.030   7.88     21.0

[506 rows x 3 columns]

## Inspect Correlations 

- Use scatter plots to show the correlation between chosen features and target variable
- Comment on each scatter plot

In [ ]:
# Your code here

## Create Evaluation Metrics

- Create a function `performance(true, predicted)` to calculate and return the r-squared score and MSE for two equal sized arrays showing true and predicted values
- TEst the function with given data

In [ ]:
# Evaluation Metrics
# Import metrics

def performance(y_true, y_predict):
    """ Calculates and returns the performance score between 
        true and predicted values based on the metric chosen. """
    
    
    # Your code here 
    
    
    pass

# Calculate the performance - TEST
score = performance([3, -0.5, 2, 7, 4.2], [2.5, 0.0, 2.1, 7.8, 5.3])
score

# [0.9228556485355649, 0.4719999999999998]

## Supervised Training 
- For supervised learning, split the `features` and `target` datasets into training/test data (80/20). 
- For reproducibility, use `random_state=42`

In [ ]:
# Your code here

## Grow a Vanilla Regression Tree

- Run a baseline model for later comparison using the datasets created above
- Generate predictions for test dataset and calculate the performance measures using the function created above.
- Use `random_state=45` for tree instance
- Record your observations

In [ ]:
# Your code here 

# (0.4712438851035674, 38.7756862745098)  - R2, MSE

## Hyperparameter Tuning 

- Find the best tree depth for a depth range: 1-30
- Run the regressor repeatedly in a for loop for each depth value. 
- Use `random_state=45` for reproducibility
- Calculate MSE and r-squared for each run 
- Plot both performance measures, for all runs.
- Comment on the output

In [ ]:
# Your code here

## More Hyperparameter Tuning 

- Repeat the above process for `min_samples_split` parameter

- Use a a range of values from 2-10 for this parameter 
- Use `random_state=45` for reproducibility
- Visualize the output and comment on results as above

In [ ]:
# Your code here

# Run the "Optimized" Model 

- Use the best values for max_depth and min_samples_split found in previous runs and run an optimized model with these values. 
- Calculate the performance and comment on the output

In [ ]:
# Your code here

## Level Up - Optional 

- How about bringing in some more features from the original dataset which may be good predictors?
- Also , try tuning more hyperparameters like max-features to find the optimal version of the model.

## Summary 

In this lab, we looked at applying a decision tree based regression analysis on the Boston Housing Dataset. We saw how to train various models to find the optimal values for pruning and limiting the growth of the trees. We also looked at how to extract some rules from visualizing trees , that might be used for decision making later.